{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_c4lauthor/variants/caption

    HTML that the caption variant adds to a component.

    Context variables required for this template:
    none

    Example context (json):
    {}
}}
<figcaption><em class="c4l-figure-footer">Consectetur adipiscing elit.</em>
            <span class="c4l-figure-caption" aria-label="{{#str}}caption, tiny_c4lauthor{{/str}}">
            <strong>Source: </strong>Phasellus a posuere nibh.</span></figcaption>
